<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/css/global_css/global.css">
        <link rel="stylesheet" href="/static/css/custom_class.css">
        <link rel="stylesheet" href="/static/css/my_component.css">
        <link rel="stylesheet" href="/static/css/pages/login.css">
    </head>


    <body class="my-flex-center">
        <section class="my-flex-center my-h-100-p my-w-100-p">
            <div class="login-wrapper my-flex-center  my-flex-column">
                <h1 class="login-head">Login</h1>
                <!-- Login image -->
                <div class="login-img">
                    <img src="" alt="Login image" loading="lazy">
                </div>


                <!--=======================|| Login Form Start Here  =====================||-->
                <form action="#" method="post" class="my-flex-column my-gap-8">

                    <!-- For Email -->
                    <div class="my-input-control">
                        <input type="emial" placeholder="Email">
                        <small class="error"></small>
                    </div>

                    <!-- For Password -->
                    <div class="my-input-control">
                        <input type="emial" placeholder="Email">
                        <small class="error"></small>
                    </div>

                    <!-- submit button -->
                    <button class="my-btn my-primary-btn my-w-100-p submit-btn">
                        <span class="content">Submit</span>
                    </button>
                </form>
            </div>
        </section>
    </body>

</html>